.myNav{
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: currentColor
}

.theBody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url('../images/colorado.jpg')
  }

  .textHeader{
    font-family: 'Press Start 2P', cursive;

  }

#balipic{
    opacity: 1;
    height: 200px;
}

.contactImg{
    height: 100px;
    box-shadow: 0 9px #999;
}
.contactImg:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.main {
    opacity: 0.9;
    flex: 1 0 auto;
  }
  .ChakraFont{
    font-family: 'Chakra Petch', sans-serif;
}
li{
    font-size: 30px;
}